* {margin: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;}
body {margin: 0; background-color: #000;}
a {text-decoration: none;}
section {position: relative; width: 100%;}
ul {margin: 0; padding: 0; list-style: none;}
/* ul li {margin: 0; padding: 0; list-style: none;} */
.inner {width: 1800px; margin: 0 auto;}
.sec-tit p {font-family: 'Akshar', sans-serif; font-size: 100px; font-weight: 400; text-transform: uppercase;}
.circle {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 0; height: 0; border-radius: 50%; z-index: 999; background-color: #000;}
#section1 {position: relative; overflow: hidden; padding: 60vh 0; background: #000 url(../images/logo.png) no-repeat center 15%;}
#section1 .sec-tit { text-align: center; font-weight: 500; color: #fff;}
#section1 .sub-tit {margin:5vh  0;font-family: 'Akshar', sans-serif; font-weight: 500; font-size: 20px; text-align: center; color: #fff;}
#section1 .wall-paper {width: 100%; height: 80vh; filter: grayscale(1); background: url("../images/wall.jpg") no-repeat center; background-attachment: fixed; transition: filter .66s;}
/* #section1.filter .wall-paper {filter: grayscale(0); transition: filter .66s;} */

/* section2 */
#section2 {overflow: hidden; width: 100%; height: 100vh;}
#section2 .sec-tit {position: absolute; top: 50%; left: 5%; transform: translateY(-50%);}
#section2 .sec-tit p {font-size: 100px; font-weight: 900; letter-spacing: -.03em;}
#section2 .box-wrapper {position: absolute; left: 50%; width: 200%; height: 100%; display: flex; align-items: center; justify-content: space-between;}
#section2 .box {position: relative; z-index: 1; display: flex; justify-content: center; align-items: center; cursor: pointer; filter: grayscale(1); transition: filter .33s;}
#section2 .box:hover {filter: grayscale(0); transition: filter .33s;}
#section2 .box1 {background: url("../images/day6_1.jpg") no-repeat center / cover; }
#section2 .box2 {background: url("../images/day6_2.jpg") no-repeat center / cover; }
#section2 .box3 {background: url("../images/day6_3.jpg") no-repeat center / cover; }
#section2 .album {z-index: 1; width: 400px; height: 400px; box-shadow: 0px 10px 10px rgba(0, 0, 0, .3); border-radius: 10px;}
#section2 .record {position: absolute; left: 50%; z-index: 0; width: 300px; height: 300px; background: url("../images/lecord.png") no-repeat 0 / cover;}
#section2 .hide-album-tit {position: absolute; bottom: 0%; left: 50%; transform: translate(-50% , 0); font-family: 'Akshar', sans-serif; font-size: 20px; font-weight: 500; text-transform: capitalize; white-space: nowrap; color: #000;}


#section2 .box:nth-child(1) .album {background: url("../images/album1.jpg") no-repeat 0 / cover;}
#section2 .box:nth-child(2) .album {background: url("../images/album2.jpg") no-repeat 0 / cover;}
#section2 .box:nth-child(3) .album {background: url("../images/album3.jpg") no-repeat 0 / cover;}
#section2 .box:nth-child(4) .album {background: url("../images/album4.jpg") no-repeat 0 / cover;}
#section2 .box:nth-child(5) .album {background: url("../images/album5.jpg") no-repeat 0 / cover;}
#section2 .box:nth-child(6) .album {background: url("../images/album6.jpg") no-repeat 0 / cover;}

#section2 .box:nth-child(1) .record {background: url("../images/lecord1.png") no-repeat 0 / cover;}
#section2 .box:nth-child(2) .record {background: url("../images/lecord2.png") no-repeat 0 / cover;}
#section2 .box:nth-child(3) .record {background: url("../images/lecord3.png") no-repeat 0 / cover;}
#section2 .box:nth-child(4) .record {background: url("../images/lecord4.png") no-repeat 0 / cover;}
#section2 .box:nth-child(5) .record {background: url("../images/lecord5.png") no-repeat 0 / cover;}
#section2 .box:nth-child(6) .record {background: url("../images/lecord6.png") no-repeat 0 / cover;}

/* section3 */
#section3 {width: 100%; overflow: hidden;}

#section3 .trans-text {display: flex; align-items: center; width: 100%; height: 100vh; opacity: 0;}
#section3 .trans-text .trans-text-wrap {display: flex; justify-content: center; align-items: center; user-select: none;}
#section3 .trans-text .trans-text-wrap li {transform: skew(5deg); margin-right: 30px; text-transform: uppercase; font-size:100px; line-height: 100px; font-family: 'Akshar', sans-serif; font-weight: 500; white-space: nowrap; color: #eee;}
#section3 .trans-text .trans-text-wrap:nth-child(odd) {transform: translateX(-20%)};
#section3 .trans-text .trans-text-wrap:nth-child(even) {transform: translateX(20%)};

#section3 .sec-tit {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#section3 .sec-tit p {font-size: 200px;  text-align: center; mix-blend-mode: difference;}
#section3 .wall-video {position: relative; width: 100%; height: 100vh; margin-bottom: 10vh;}
#section3 .wall-video .video-txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); mix-blend-mode: difference;}
#section3 .wall-video .video-txt p {font-family: 'Akshar', sans-serif; font-weight: 700; text-transform: uppercase;  color: #fff; font-size: 300px;}
#section3 .wall-video video {width: 100%; height: 100%; object-fit: cover;}

/* section4 */
#section4 {width: 100%; background-color: #000;}
#section4 .inner {position: relative; height: 100vh; overflow: hidden;}
#section4 .inner .intro-wall-paper {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/img-wall-paper.jpg") no-repeat 0 / cover; background-attachment: fixed;}
#section4 .inner .intro-wrap {position: absolute; top: 100%; left: 0; display: flex; width: 100%; height: 100%; overflow: hidden;}
#section4 .inner .intro-wrap:nth-child(1) {top: 0;}
#section4 .inner .intro-wrap .intro-info {padding: 3.5%; width: 50%; height: 100%;background-color: #000;}
#section4 .inner .intro-wrap .intro-info .intro-tit {margin-bottom: 10vh; font-size: 100px; font-family: 'Anton', sans-serif; font-weight: 400; font-style: italic; text-transform: uppercase; color: #eee; letter-spacing: .03em;}
#section4 .inner .intro-wrap .intro-info .intro-txt {font-size: 18px; line-height: 30px; font-weight: 300; color: #eee;}
#section4 .inner .intro-wrap .intro-pic {width: 50%; height: 100%;}
#section4 .inner .intro-wrap:nth-child(1) .intro-pic {background: url("../images/img-intro1.png") no-repeat 0 15% / cover;}
#section4 .inner .intro-wrap:nth-child(2) .intro-pic {background: url("../images/img-intro2.png") no-repeat 0 20% / cover;}
#section4 .inner .intro-wrap:nth-child(3) .intro-pic {background: url("../images/img-intro3.png") no-repeat 0 15% / cover;}
#section4 .inner .intro-wrap:nth-child(4) .intro-pic {background: url("../images/img-intro4.png") no-repeat 0 30% / cover;}

/* section5 */
#section5 {width: 100%; height: 100vh; background-color: #000; overflow: hidden;}
#section5 .inner {position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
#section5 .inner video {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
#section5 .inner .wall-text {position: absolute; top: 0; left: 0; transform: scale(1); width: 100%; height: 100%; line-height: 100vh; font-size: 100px; font-family: 'Anton', sans-serif; font-weight: 700; text-align: center; text-transform: uppercase; color: #fff; background: #000; user-select: none; mix-blend-mode: multiply; letter-spacing: .1em;}
#section5 .inner .join-con {position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%);}
#section5 .inner .join-con a {position: relative; padding-bottom: 5px; display: block; overflow: hidden; font-family: 'Akshar', sans-serif; font-size: 20px; font-weight: 100; letter-spacing: .05em; color: #fff; text-transform: capitalize; transition: color .33s;}
#section5 .inner .join-con a:hover {color: #fff; transition: color .33s; }
#section5 .inner .join-con a::after {content: ""; position: absolute; bottom: 0; right: 0; z-index: -1; display: block; width: 0%; height: 2px; background-color: #fff; transition: width .33s;}
#section5 .inner .join-con a:hover::after {width: 100%; left: 0; right: auto; transition: width .33s;}

/* section6 */
#section6 {margin-top: 40vh;}
#section6 .title {font-family: 'Akshar', sans-serif; font-size: 200px; font-weight: 700; font-style: italic; letter-spacing: -.05em; text-transform: uppercase; color: #fff;}